@font-face {
	font-family: 'Cabin';
	src: url(../fonts/Cabin/Cabin-Regular.ttf);
}

@font-face {
	font-family: 'Cabin Bold';
	src: url(../fonts/Cabin/Cabin-Bold.ttf);
}

@font-face {
	font-family: 'Cabin Semi Bold';
	src: url(../fonts/Cabin/Cabin-SemiBold.ttf);
}

@font-face {
	font-family: 'Cabin Medium';
	src: url(../fonts/Cabin/Cabin-Medium.ttf)
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto Light';
	src :url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

body {
	width:1000px;
	margin: 0 auto;
	padding: 0;
}

#header {
	height: 40px;
}

#header-image {
	width:300px;
	background-color: #F0F0F0;
	padding: 10px;
	padding-left: 20px;
	padding-right:80px;
	float:left;
}

#home-image {
	width:25px;
	float:left;
}

#menubar-container {
	width:600px;
	padding-left:400px;
}

#menubar {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.menubar-item {
	font-family: Roboto;
	padding-top: 7px;
	padding-left: 30px;
	float:left;
}

.down-button {
	width: 10px;
}

.clear {
	clear:both;
}

#banner {
	width:1000px;
}

#quote {
	text-align: center;
}

.green {
	color: #076E29;
}

#quote-paragraph {
	font-family: Roboto;
	font-size:25px;
	font-weight: bold;
}

#quote-person {
	font-family: Roboto;
	font-size:20px;
	font-weight: normal;
}

.sub-title {
	height:80px;
	font-family: Roboto;
	font-size:30px;
	text-align: center;
	margin-top: 40px
}

#program {
	margin: 0 50px;
}

#program th,td {
	border: 1px solid white;
}

.program-image {
	width: 300px;
}

.gap {
	height: 40px;
}

#news-image {
	position: absolute;
	left: 670px;
	padding-top:10px;
	width: 300px;
	float:left;
	z-index:1;
}

#table-border {
	width: 1000px;
	position: absolute;
}

#kegiatan {
	padding-top: 50px;
}

.kegiatan-image {
	width: 300px;
	float:left;
}

#kegiatan td {
	border: 10px solid white;
}

.subtitle-image {
	padding-left:25px;
	width: 250px;
	text-align: center;
}

#more-button {
	text-align:center;
}

#circle {
	text-align: center;
}

#circle td {
	border: 3px solid white;
}

.circle {
	padding-top:10px;
	width:20px;
}

#more-button img {
	width: 150px;
}

#gap-more {
	height:10px;
}

#lembaga table {
	padding-right: 20px;
}

#lembaga td {
	border: 30px solid white
}

.lembaga-image {
	width:200px;
}

#footer-menu {
	width:600px;
	float:left;
	background-color: #2F2F2F;
}

#ansor {
	width: 200px;
	padding-bottom: 20px;
}

#arahkan {
	width: 80px;
	padding-top:10px;
	padding-left: 100px;
}

#footer-menu table {
	width: 600px;
	padding-top:30px;
	padding-left:30px;
}

#footer-menu td {
	color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	border: 1px solid #2F2F2F;
}

#copyright {
	font-family: Roboto;
	font-size: 15px;
	text-align: right !important;
	vertical-align: bottom !important;
}

#footer-address {
	width:400px;
	float:left;
	background-color: #00A859;
	color: #FFFFFF;
	padding-top:30px;
	height:232px;
}

#address {
	padding-left: 50px;
}

#headline-title {
	font-size:30px;
	font-family: Cabin Bold;
}

.headline-subtitle {
	font-size:12px;
	font-family: Roboto Light;
}

#headline-text {
	font-size:15px;
	font-family: Roboto;
}

#headline-header {
	font-size: 30px;
	font-family: Cabin Semi Bold;
}

#loadmore-image {
	width: 120px;
}

#headline {
	padding-top:50px;
	padding-left: 350px;
	width: 300px;
}

#loadmore-color {
	color: #4D00FF;
}

.newsline {
	padding-left:15px;
}

.newsline h3 {
	font-family: Cabin Bold;
	font-size: 20px;
}

#newsline-rightbottom {
	padding-top:100px;
}

.newsline-2 {
	padding-left:10px;
}

.newsline-2 h3 {
	font-family: Cabin Bold;
	font-size: 20px;
}

#newsline-leftbottom {
	padding-top:80px;
}

.footer-head {
	font-family:Roboto Bold;
}

.footer-text {
	font-family:Cabin;
}

#address-header {
	font-family: Cabin Bold;
}

#address-text {
	font-family: Cabin;
}

#tausyiah-title {
	position: absolute;
	padding-top:30px;
	padding-left:15px;
	font-family: Cabin;
	font-size: 22px;
}